<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Panel de control</title>

        <!-- Bootstrap Core CSS -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="../css/metisMenu.min.css" rel="stylesheet">

        <!-- Timeline CSS -->
        <link href="../css/timeline.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="../css/startmin.css" rel="stylesheet">

        <!-- Morris Charts CSS -->
        <link href="../css/morris.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    </head>
    <body>

        <div id="wrapper">

            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">Ottra</a>
                </div>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <ul class="nav navbar-nav navbar-left navbar-top-links">
                    <li><a href="#"><i class="fa fa-home fa-fw"></i> Home</a></li>
                </ul>


                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li>
                                <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Panel de control </a>
                            </li>
                            <li>
                                <a href="recetas.html"  class="active"><i class="fa fa-dashboard fa-fw"></i> Programas</a>
                            </li>
                            <li>
                                <a href="programas.html"><i class="fa fa-dashboard fa-fw"></i> Automatismo</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div id="page-wrapper" ng-app="myApp" ng-controller="programaCtrl">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Editor de programas</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <div class="row">


                    <!-- panel tabla registros -->
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bell fa-fw"></i> Programas
                            </div>

                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Nombre</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-click="seleccionar(programa)" ng-repeat="programa in programas"> 
                                                <td>{{$index + 1}}</td>
                                                <td>{{programa.nombre}}</td>
                                                <td><button type="button" ng-click="eliminarPrograma($index)" class="btn btn-warning btn-circle"><i class="fa fa-minus"></i></button></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2"></td><td><button type="button" ng-click="nuevoPrograma()" class="btn btn-primary btn-circle"><i class="fa fa-plus"></i></button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- /.panel tabla registros -->

                    <!-- pasos no editable -->
                    <div class="col-lg-8">
                        <div class="panel panel-default">
                            <div class="panel-heading" ng-if="!editandoReceta">
                                <i class="fa fa-bar-chart-o fa-fw"></i> {{seleccion.programa.nombre}}
                            </div>
                            <div class="panel-heading" ng-if="editandoReceta">
                                <input ng-model="seleccion.programa.nombre" class="form-control" placeholder="Nombre del programa">
                            </div>

                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Paso</th>
                                                <th>Dias</th>
                                                <th>Temperatura</th>
                                                <th ng-if="editandoReceta"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="paso in seleccion.programa.pasos"> 
                                                <td>{{$index + 1}}</td>
                                                <td ng-if="!editandoReceta">{{paso.paso}}</td><td ng-if="editandoReceta"><input ng-model="paso.paso" class="form-control" placeholder="Nombre del paso"></td>
                                                <td ng-if="!editandoReceta">{{paso.dias}}</td><td ng-if="editandoReceta"><input ng-model="paso.dias" class="form-control" placeholder="Duracion en dias"></td>
                                                <td ng-if="!editandoReceta">{{paso.temperatura}}</td><td ng-if="editandoReceta"><input ng-model="paso.temperatura" class="form-control" placeholder="Temperatura"></td>
                                                <td ng-if="editandoReceta"><button type="button" ng-click="eliminarPaso($index)" class="btn btn-warning btn-circle"><i class="fa fa-minus"></i></button></td>
                                            </tr>
                                            <tr ng-if="editandoReceta">
                                                <td colspan="4"></td><td><button type="button" ng-click="agregarPaso()" class="btn btn-primary btn-circle"><i class="fa fa-plus"></i></button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <button ng-if="!editandoReceta" type="submit" ng-click="editStart()" class="btn btn-primary btn-block">Editar</button>
                                <button ng-if="editandoReceta" type="submit" ng-click="guardar()" class="btn btn-success btn-block">Guardar</button>
                            </div>
                        </div>
                    </div>
                    <!-- pasos no editable -->

                </div>
                <!-- /.row -->

            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->

        <!-- jQuery -->
        <script src="../js/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="../js/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="../js/metisMenu.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="../js/startmin.js"></script>
        <script src="../js/angular.min.js"></script>
        <script src="../js/angular-resource.min.js"></script>
        <script src="../js/programas.js"></script>

    </body>
</html>
